 body {
    margin: 0;
    padding: 20px;
    background: #52475c;
}

.container {
    display: flex;
    gap: 15px;
}

.item {
    flex: 1; 
    background: #462c5c;
    color: rgb(213, 196, 246);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-radius: 8px;
}

