 body, html {
    margin: 0;
    padding: 0;
    background: #645477;
}

.container {
    display: flex;
    justify-content: space-between; 
    padding: 20px;
}

.caixa {
    width: 150px;
    height: 150px;
    background: #4a366b;
    color: rgb(179, 163, 198);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-radius: 10px;
}

