 
body {
    margin: 0;
    padding: 20px;
    background: #6f5d84;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;             
    gap: 20px;
    justify-content: center;
}

.card {
    flex: 1 1 calc(33.33% - 40px);
    max-width: 300px;              
    min-width: 200px;             
    background: #412b5c;
    color: rgb(208, 177, 232);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}
