 
body, html {
    margin: 0;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100vh;
    background: #997ec4;
}

.quadrado {
    width: 150px;
    height: 150px;
    background: rgb(52, 14, 96);
}
