 body {
    margin: 0;
    padding: 20px;
    background: #523c63;
}

.container {
    display: flex;
    flex-wrap: wrap; 
    gap: 15px;
}

.item {
    width: 120px;
    height: 120px;
    background: #46355f;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(191, 156, 216);
    font-size: 24px;
    border-radius: 10px;
}

